table {
    font-family: arial, sans-serif;
    width: 100%;
}

th {
    border: none;
    text-align: left;
    padding: 8px;
    background-color: lightgray;
}

td {
    border: none;
    text-align: left;
    padding: 8px;
}

.ActionButton {
    text-align: center;
}

.ActionButtonClear {
    text-align: center;
    filter: saturate(5);
}

ul {
    list-style-type: none;
}